html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    background: #1d1a18;
}
header {
    
    display: block;
    background-image: url(/Images/pxfuel.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
    width: 100%;
}
.links {
    display: flex;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    color: white;
    gap: 20px;
}
.links a:hover {
    color: rgb(255, 217, 0);
    text-decoration: underline;
}
.welcome {
    display: block;
    margin: auto;
    text-align: center;
    padding-top: 120px;
}
h1 {
    font-family: "Pollar one";
    font-size: 100px;
    color: rgb(255, 217, 0);
    margin-top: 0;
    margin-bottom: 15px;
    transform: perspective(50px)
}
h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-size: 2em;
    margin: 0;
    letter-spacing: 4px;
}
h3 {
    color: rgb(255, 217, 0);
    font-size: 2em;
    margin: 0;
    letter-spacing: 4px;
}
a {
    text-decoration: none;
    color: white;
}
.finalbox a {
    color: rgb(255, 217, 0);
    margin: 20px auto;
    text-decoration: underline solid white;
}
p {
    font-size: 1.125em;
    color: white;
}
span {
    font-size: 1.25em;
}
main {
    padding: 50px 0;
    width: 100%;
    
}
.container {
    display: flex;
    max-width: 80%;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: 20px;
    flex-wrap: wrap;
    flex-direction: row;
}
.loader {
    width: 100px;
    height: 100px;
    border: 5px solid #FFF;
    border-bottom-color: rgb(255, 217, 0);
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }
    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 
.box {
    display: flex;
    flex: 25%;
    height: 500px;
    color: white;
    flex-direction: column;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.083);
    padding: 10px;
}
.finalbox {
        display: flex;
        width: 30%;
        height: 500px;
        color: white;
        flex-direction: column;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.083);
        padding: 10px 20px;
        gap: 10px;
}
.box:hover {
    cursor: pointer;
    transform: scale(102%);
    transition: 200ms ease-in-out;
    background-color: rgba(255, 255, 255, 0.194);

}
.box h3, .finalbox h3 {
    text-align: center;
    margin-bottom: 20px;
}
.box img, .finalbox img {
    height: 200px;
    margin: 10px auto;
}
button {
    margin: 50px auto;
    width: 50%;
    padding: 5px;
    background-color: rgb(255, 217, 0);
    outline: none;
    border: none;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
}

i {
    color: white;
    left: 150px;
    padding: 20px;
    cursor: pointer;
}
footer {
    display: flex;
    justify-content: end;
    background-color:#1d1a18;
}