html {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    background: #1d1a18;
}
#header {
    display: block;
    margin: 0 auto;
    background-color: black;
    background-image: url(/Images/Trooper.png);
    background-size: contain;
    background-position: right 0px center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 500px;
}
.links {
    display: flex;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    font-family: "Hind";
    color: white;
    gap: 20px;
}
.links a:hover {
    text-decoration: underline;
}
.welcome {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 150px;
}
h1 {
    font-family: "Poller One";
    font-size: 6em;
    color: rgb(255, 217, 0);
    margin-top: 0;
    margin-bottom: 15px;
}
h2 {
    font-family: "Hind";
    color: white;
    font-size: 2em;
    margin: 0;
    letter-spacing: 4px;
}
h3 {
    font-family: "Poller One";
    color: white;
    font-size: 1.75em;
    margin: 0;
    letter-spacing: 4px;
}
a {
    text-decoration: none;
    color: white;
    font-family: "Hind";
}
.finalbox a {
    color: white;
    margin: 20px auto;
    text-decoration: underline solid white;
    font-family: "Noto sans";
}
.finalbox a:hover {
    color: rgb(255, 217, 0);
    text-decoration: underline solid rgb(255, 217, 0);
}
p, h4, .affiliations {
    font-size: 1.125em;
    color: white;
    font-family: "Noto sans";
}
main {
    padding: 50px 0;
    width: 100%;
}
.container {
    display: flex;
    padding: 20px 0;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: 20px;
    flex-wrap: wrap;
    flex-direction: row;
}
.loader {
    width: 100px;
    height: 100px;
    border: 5px solid #FFF;
    border-bottom-color: rgb(255, 217, 0);
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }
    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 
.box {
    display: flex;
    width: 25%;
    height: 550px;
    color: white;
    flex-direction: column;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.083);
    padding: 10px;
    box-sizing: border-box;
}
.box p {
    margin: auto;
    margin-left: 20px;
}
.finalbox {
    display: flex;
    width: 40%;
    height: auto;
    color: white;
    flex-direction: column;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.083);
    padding: 10px 20px;
    gap: 20px;
    border: 1px solid  rgb(255, 217, 0);
}
.inputbox {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 1.125em;
}
.inputbox input {
    height: 20px;
}
.box:hover {
    cursor: pointer;
    transform: scale(102%);
    transition: 300ms ease-in-out;
    box-shadow: -2px -3px 25px  rgb(255, 217, 0);
    
}
.box h3, .finalbox h3 {
    text-align: center;
    margin-bottom: 20px;
}
.box img, .finalbox img {
    max-width: 90%;
    height: 200px;
    margin: 10px auto;
}
button {
    margin: 50px auto;
    width: 50%;
    padding: 5px;
    background-color: rgb(255, 217, 0);
    outline: none;
    border: none;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}
button:hover {
    transform: scale(105%);
}
i {
    color: white;
    left: 150px;
    padding: 20px;
    cursor: pointer;
}
footer {
    display: flex;
    justify-content: end;
    background-color:#1d1a18;
}
@media screen and (max-width: 900px) {
    .box, .finalbox {
       width: 70%;
    }
    #header {
        padding-bottom: 50px;
    }
    
    .container {
        flex-direction: column;
    }
    
}